<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Manage Money</title>
<link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="app/css/main.css" rel="stylesheet">
</head>
<body>

<header class="bs-header">
    <div class="container">
        <h1>Manage Money</h1>
        <p>Manage your money and riches with this backbone app</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div id="coreCont" class="col-xs-12 main-container">
        </div>
    </div>
</div>

<script type="text/template" id="tplAllMoney">
<p class="text-center">
    <a href="#contacts/new" class="btn btn-lg btn-outline">Add Rich</a>
</p>
<ul id="moneyCont" class="money_list row contacts-container">
    <li>
        <div class="time">交易时间</div>
        <div class="type">类型</div>
        <div class="amount">金额</div>
        <div class="gain">收益</div>
        <div class="done">结算</div>
        <div class="op">操作</div>
    </li>
</ul>
</script>

<!-- single item -->
<script type="text/template" id="tplSingleMoney">
<div class="time"><%- time %></div>
<div class="type"><%- type %></div>
<div class="amount"><%- amount %></div>
<div class="gain"><%- gain %></div>
<div class="done"><%- done %></div>
<div class="op">
    <a href="#contacts/delete/<%- id %>" class="deleteItem">&#215;</a>
</div>
</script>

<script type="text/template" id="tpl-new-contact">
<h2 class="page-header text-center"><%= isNew ? 'Create' : 'Edit' %> Contact</h2>
      <form role="form" class="form-horizontal contract-form">
        <div class="form-group">
          <label class="col-sm-4 control-label">Full name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control contact-name-input" value="<%- name %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Email address:</label>
          <div class="col-sm-6">
            <input type="email" class="form-control contact-email-input" value="<%- email %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Telephone number:</label>
          <div class="col-sm-6">
            <input type="tel" class="form-control contact-tel-input" value="<%- tel %>">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-3">
            <button type="submit" class="btn btn-outline btn-lg btn-block">Submit</button>
          </div>
          <div class="col-sm-3">
            <a href="#contacts" class="btn btn-outline btn-lg btn-block">Cancel</a>
          </div>
        </div>
      </form>
</script>

<script src="vendor/jquery/jquery.js"></script>
<script src="vendor/underscore/underscore.js"></script>
<script src="vendor/backbone/backbone.js"></script>

<script src="app/js/app.js"></script>
<script src="app/js/models/contact.js"></script>
<script src="app/js/collections/contacts.js"></script>
<script src="app/js/views/contact.js"></script>
<script src="app/js/views/contacts.js"></script>
<script src="app/js/views/contactForm.js"></script>

<script>
$(function() {
    ContactManager.start({
        contacts: [ {
            type: '基金'
            ,time: '2015-03-05'
            ,amount: 20000
            ,gain: 2300
            ,done: 0
            ,id:1
        }
        , {
            type: '股票'
            ,time: '2015-03-03'
            ,amount: 50000
            ,gain: 6300
            ,done: '已结算'
            ,id:2
        }]
    });
});
</script>
</body>
</html>
